includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - tests

    level: 5

    tmpDir: storage/framework/cache/phpstan
